Module.symvers
modules.order
*.o
*.ko
*.mod
*.mod.c
*.kdev4
__pycache__
*.pyc
*.tar
*.tar.gz
*.tar.bz2
*.kate-swp
*.swp
*.DS_Store
*.vs
debian/x0-psycopg2-patched
debian/x0-app
debian/x0-db
debian/x0-test
debian/.debhelper
