Module.symvers
modules.order
*.o
*.ko
*.mod
*.mod.c
*.kdev4
__pycache__
*.pyc
*.tar
*.kate-swp
*.swp
*.DS_Store
*.vs
debian/x0-psycopg2-patched
debian/x0-app
debian/x0-db
debian/x0-test
debian/x0-db-install
debian/x0-db-install-tpl
debian/x0-msg-server
debian/.debhelper
