apiVersion: kubegres.reactive-tech.io/v1
kind: Kubegres
metadata:
  name: mypostgres
  namespace: ${x0_NAMESPACE}
spec:
   replicas: ${x0_DB_REPLICAS}
   image: postgres:14
   database:
      size: ${x0_DB_SIZE}
   env:
      - name: POSTGRES_PASSWORD
        valueFrom:
           secretKeyRef:
              name: mypostgres-secret-${x0_NAMESPACE}
              key: superUserPassword
      - name: POSTGRES_REPLICATION_PASSWORD
        valueFrom:
           secretKeyRef:
              name: mypostgres-secret-${x0_NAMESPACE}
              key: replicationUserPassword
