apiVersion: v1
kind: Pod
metadata:
  name: ${x0_APP_ID}-${x0_APP_ENV}-test-run
  namespace: ${x0_NAMESPACE}
spec:
  serviceAccountName: ci-builder
  automountServiceAccountToken: false
  containers:
  - name: test-run
    image: docker.io/library/${x0_APP_ID}-test:latest
    imagePullPolicy: IfNotPresent
    env:
    - name: RUN_NAMESPACE
      value: ${x0_NAMESPACE}
  restartPolicy: Never
