/* --------------------------------------------- */
/* Button Back/Forward Styless                   */
 

.sysButton {
	transition: all 0.4s;
	display: inline-block;
	width: 200px;
	text-align: center;
	border: none !important;
	cursor: pointer;
	background-color: #f47e35;
	font-family: "Gentona-Book", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-weight: normal !important;
	padding: 8px 10px !important;
	font-size: 18px;
	overflow: hidden;
	position: relative;
	color: #ffffff !important;
	line-height: 1em !important;
	text-decoration: none !important;
	text-transform: none !important;
	transition: 0.25s;
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
	box-sizing: border-box;
}

.sysButton:hover {
    background-color: #d1570b !important;
    color: #ffffff !important;
}

.sysButtonDisabled {
	transition: all 0.4s;
	opacity: 0.5;
	display: inline-block;
	width: 200px;
	text-align: center;
	border: none !important;
	cursor: pointer;
	background-color: #d7466b;
	font-family: "Gentona-Book", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-weight: normal !important;
	padding: 8px 10px !important;
	font-size: 18px;
	overflow: hidden;
	position: relative;
	color: #ffffff !important;
	line-height: 1em !important;
	text-decoration: none !important;
	text-transform: none !important;
	transition: 0.25s;
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.ButtonNavigationForwardBackward {
	margin-top: 50px;
     display: inline-block;
}

.sysButtonSearch {
	display: inline-block;
	width: 200px;
	text-align: center;
	border: none !important;
	cursor: pointer;
	background-color: #d7466b;
	font-family: "Gentona-Book", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-weight: normal !important;
	padding: 16px 20px !important;
	font-size: 18px;
	overflow: hidden;
	position: relative;
	color: #ffffff !important;
	line-height: 1em !important;
	text-decoration: none !important;
	text-transform: none !important;
	transition: 0.25s;
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
	box-sizing: border-box;
	margin-bottom: 20px !important;
}

.sysButtonSubmit {
	display: inline-block;
	width: 200px;
	text-align: center;
	border: none !important;
	cursor: pointer;
	background-color: #d7466b;
	font-family: "Gentona-Book", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-weight: normal !important;
	padding: 16px 20px !important;
	font-size: 18px;
	overflow: hidden;
	position: relative;
	color: #ffffff !important;
	line-height: 1em !important;
	text-decoration: none !important;
	text-transform: none !important;
	transition: 0.25s;
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
	box-sizing: border-box;
	margin-bottom: 20px !important;
}


.ButtonNavigationForwardBackward .sysButtonForward {
	float: right;
}

.sysButtonForward {
	display: inline-block;
	width: 250px;
	text-align: center;
	border: none !important;
	cursor: pointer;
	background-color: #d7466b;
	font-family: "Gentona-Book", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-weight: normal !important;
	padding: 16px 20px !important;
	font-size: 18px;
	overflow: hidden;
	position: relative;
	color: #ffffff;
	line-height: 1em !important;
	text-decoration: none !important;
	text-transform: none !important;
	transition: 0.25s;
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
	box-sizing: border-box;
	margin-bottom: 20px !important;
}

.sysButtonForward::after {
	 font-family: "FontAwesome";
	  position: absolute;
	  right: 63px;
		bottom: 16px;
	  font-size: 20px;
	  content: "\f061"; 
}


.sysButtonBackward::after {
	 font-family: "FontAwesome";
	  position: absolute;
	  left: 63px;
	  bottom: 16px;
	  font-size: 20px;
	  content: "\f060"; 
}


.sysButtonBackward {
	display: inline-block;
	width: 250px;
	text-align: center;
	border: none !important;
	cursor: pointer;
	background-color: #d7466b;
	font-family: "Gentona-Book", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-weight: normal !important;
	padding: 16px 20px !important;
	font-size: 18px;
	overflow: hidden;
	position: relative;
	color: #ffffff;
	line-height: 1em !important;
	text-decoration: none !important;
	text-transform: none !important;
	transition: 0.25s;
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
	box-sizing: border-box;
	margin-bottom: 20px !important;
}

.sysButtonForward {
    float: right;
}

.sysButtonBackward {
    float: left;
}

.sysButtonSubmit:hover {
	background-color: #F3C7C7;
    color: #d7466b;
}

.sysButtonForward:hover {
	background-color: #F3C7C7;
    color: #d7466b;
}

.sysButtonForward:hover .sysButtonForward::after { 
    color: #d7466b !important;
}

.sysButtonForward:hover .sysButtonBackward::after { 
    color: #d7466b !important;
}
