body {
    font-family: Georgia, serif;
    background-color: #2b5575;
}

a:link {
color: #2b5550;
}
a:visited {
color: #2b55a5;
}
a:hover {
color: hotpink;
}
a:active {
color: blue;
}

.required::before {
    content: "*";
    color: red;
}

.overlay-default {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 50%;
}

.menu-absolute-pos {
    position: absolute;
    top: 10px;
    left: 10px;
}

.th-height-default {
    height:30px;
}

.tr-height-default {
    height:40px
}

.sysContextMenuTable {
    position: absolute;
    width: 200px;
}

.SystreeNodeRoot {
}

.SystreeSelected {
    width: 4px;
    height: 22px;
    border-radius: 25px;
    margin-right: 2px;
    background: #202020;
    float: left;
}

.SystreeItemContainer {
    width: 150px;
    height: 22px;
    border-radius: 5px;
    padding-left: 2px;
    background: #3e3e3e;
    float: right;
}

.SystreeIcon {
    float: left;
}

.SystreeNodeText {
    font-size: 14px;
    padding-top: 0px;
    padding-left: 2px;
    float: left;
}

.SystreeOpenClose {
    padding-right: 2px;
    float: right;
}
