html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font-family: 'Industry-Book', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.col-content {
    background-color: #000000;
}

.sysButtonSend {
    background-color: #f47e35 !important;
}

.sysButtonDisabled {
    cursor: not-allowed !important;
    opacity: 0.5 !important;
}

.sysButtonDisabled:hover {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #F3C7C7 !important;
    color: #286ea0 !important;
}

button div {
    font-family: 'Industry', sans-serif;
    font-weight: 900;
    font-style: normal;
}

i {
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 900 !important;
}

#ADRPoints,
#EditADRPoints__overlay {
    width: 90%
}

.h2 {
    color: #286ea0 !important;
    font-size: 40px;
    font-weight: bold !important;
}

.triangle-bottom {
    width: 250px !important;
    overflow: visible !important;
    margin-bottom: 200px;
    line-height: 27px !important;
    top: 155px;
    left: 50%;
    right: 50%;
    margin-left: -125px;
    margin-top: -125px;
}

.sysButton.triangle-bottom::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 85px;
    border-style: solid;
    border-width: 25px 125px 0 125px;
    border-color: #286ea0 transparent transparent transparent;
    display: block !important;
    transition: all 0.4s;
}

.sysButton:hover.triangle-bottom::after {
    border-color: #143750 transparent transparent transparent !important;
}

.cia-center {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
}

@media (min-width: 768px) {
    .cia-center {
        justify-content: right;
        text-align: right;
    }
}

.comment-info-para {
    padding-left: 70px;
    font-size: 18px;
    line-height: 29px;
    padding-bottom: 25px;
    margin-top: 25px;
    position: relative !important;
}

.comment-info-para::before {
    display: none;
    font-family: 'Font Awesome 5 Free';
    content: "\f075";
    font-weight: 900;
}

.comment-info-para .fa-comment {
    font-size: 50px;
    color: #e2e3e5;
    position: absolute !important;
    left: 4px;
    top: -7px;
    transform: scaleX(-1);
}

h1,
label,
button,
.sysScreenOverlay {
    user-select: none !important;
}

h2 {
    color: #286ea0 !important;
    margin-bottom: 30px;
}

ul {
    padding: 0px !important;
}

ul {
    width: 100%;
    display: inline-block;
}


/* ----------CHRIS TO:DO -------------------- */

[id*="DisplayMax"],
[id*="KurzbeschreibungMax"] {
    text-align: right !important;
    font-size: 14px !important;
    margin-bottom: 7px !important;
    color: #000 !important;
}

.sysInfoRequired {
    font-size: 14px !important;
    text-align: right;
    display: block;
    position: absolute;
    right: 35px;
    top: -32px;
    color: #000;
}

.sysInfoRequired span {
    font-size: 20px;
    color: red;
}

.sysScreenOverlay {
    position: absolute;
    top: 26px;
    background-color: #fff !important;
    padding: 35px;
    box-shadow: 0px 0px 15px 0px #969696;
    border: 1px solid #e2e3e5;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 800px;
}

/* ---------- Innerbox -------------------- */

.adr-classes {
    display: inline-block;
}

.inner-box div {
    margin-bottom: 0;
}

.inner-box {
    -webkit-box-shadow: inset 1px 1px 15px 1px #969696;
    box-shadow: inset 1px 1px 15px 1px #969696;
    padding: 30px 30px 20px;
    border-radius: 17px;
    background-color: #fff;
    text-align: center;
}

.inner-box label {
    font-size: 15px;
    margin-bottom: 2px;
    cursor: pointer;
    /*     text-transform: uppercase; */
    letter-spacing: 1px;
    background-color: #eee;
    color: #000;
    padding: 6px 15px;
    border-radius: 7px;
    font-family: 'Industry', sans-serif;
    font-weight: bold !important;
    font-style: normal;
    display: block;
    width: 100%;
    text-align: left;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inner-box input[type="checkbox"]:checked+label {
    background-color: #f47e35;
    color: #fff;
}

.inner-box input[type="checkbox"]:disabled+label {
    background-color: #eee !important;
    color: #aaa !important;
}


/* ---------- Innerbox End -------------------- */

span.circle {
    background: #fff;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    color: #f47e35;
    display: inline-block;
    font-weight: bold;
    line-height: 48px;
    margin-right: 15px;
    text-align: center;
    font-size: 33px;
    width: 50px;
    height: 50px;
}

@media only screen and (min-width: 960px) {
    span.circle {
        background: #fff;
        border-radius: 30px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        color: #f47e35;
        display: inline-block;
        font-weight: bold;
        line-height: 30px;
        margin-right: 5px;
        text-align: center;
        font-size: 18px;
        width: 30px;
        height: 30px;
    }
}

.sysTabInactiveText span.circle {
    color: #286ea0;
}

.price-field {
    position: relative;
    padding: 50px;
    background-color: #c1c8c0;
    overflow: hidden;
    display: block;
    line-height: 20px;
    word-break: break-word;
    white-space: pre-line;
}

.price-field:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../images/aom-euro-pattern.svg');
    mix-blend-mode: luminosity;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}

.price-field p {
    z-index: 1000;
    font-family: 'Industry', sans-serif;
    font-weight: 900 !important;
    font-size: 80px;
    text-align: center;
    color: #286ea0;
    opacity: 1;
    text-shadow: 0.08em 0.08em 0.14em #bbbbbb !important;
    line-height: 43px;
}

.price-field p span {
    text-transform: uppercase;
    color: #f47e35;
    display: block;
    line-height: 43px;
}

h1,
h2 {
    color: #286ea0 !important;
    font-size: 40px !important;
    font-weight: 900 !important;
    letter-spacing: 0;
    font-family: 'Industry', sans-serif;
    font-style: normal !important;
}

h4 {
    color: #286ea0 !important;
    font-size: 20px !important;
    font-weight: 900 !important;
    line-height: 27px;
    letter-spacing: 0;
    font-family: 'Industry', sans-serif;
    font-style: normal !important;
}

.btn-close {
    cursor: pointer !important;
}

.direkt-flow {
    font-size: 17px;
    font-weight: 800 !important;
    color: #286ea0;
}

.konsol-flow {
    font-size: 17px;
    letter-spacing: -0.1px;
    font-weight: 800 !important;
    color: #286ea0;
}

.color-o {
    color: #f47e35;
}

.color-b {
    color: #286ea0;
}


/* ----------CHRIS Tab Arrows -------------------- */

@media only screen and (min-width: 960px) {
    #Calculator nav ul li:nth-child(2)>button span::before,
    #Calculator nav ul li:nth-child(3)>button span::before {
        content: '';
        position: absolute;
        left: -0px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 26px 0 26px 40px;
        border-color: transparent transparent transparent #fff;
        display: block;
    }
}

.sysTabInactive,
.sysTabActive {
    width: 100%;
}

@media only screen and (min-width: 960px) {
    .sysTabInactive,
    .sysTabActive {
        width: auto;
    }
}

.sysTabActive span.sysTabActiveText {
    position: relative;
    padding: 20px 20px 20px 41px;
    text-align: left;
    font-size: 33px !important;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 900 !important;
    text-transform: uppercase;
    color: #FFF !important;
    background-color: #f47e35;
    cursor: default;
    display: block;
}

@media only screen and (min-width: 960px) {
    .sysTabActive span.sysTabActiveText {
        width: 315px;
        display: flex;
        height: 52px !important;
        text-align: center !important;
        font-size: 23px !important;
    }
}

@media only screen and (min-width: 960px) {
    .sysTabActive span.sysTabActiveText::after {
        content: '';
        position: absolute;
        right: -40px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 26px 0 26px 40px;
        border-color: transparent transparent transparent #f47e35;
    }
}

.sysTabInactive span.sysTabInactiveText {
    position: relative;
    padding: 20px 20px 20px 41px;
    text-align: left;
    font-size: 33px !important;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #d6d8db;
    color: #286ea0 !important;
    display: block;
    cursor: default;
}

@media only screen and (min-width: 960px) {
    .sysTabInactive span.sysTabInactiveText {
        width: 315px;
        display: flex;
        height: 52px !important;
        text-align: center !important;
        font-size: 23px !important;
    }
}

.cia-center {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
}

@media (min-width: 768px) {
    .cia-center {
        justify-content: right;
        text-align: right;
    }
}

@media only screen and (min-width: 960px) {
    .sysTabInactive span.sysTabInactiveText::after {
        content: '';
        position: absolute;
        right: -40px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 26px 0 26px 40px;
        border-color: transparent transparent transparent #d6d8db;
    }
}


/* .sysTabInactive:hover span.sysTabInactiveText {
    background-color: #c0c2c5;
    transition: all 0.2s;
}
 */


/* .sysTabInactive:hover span.sysTabInactiveText::after {
    border-color: transparent transparent transparent #c0c2c5;
    transition: all 0.2s;
} */

@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 800px;
    }
}

.btn-close {
    float: right !important;
}


/* ----------CHRIS SELECT, INPUT & Textares: Shadow and Border -------------------- */

input {
    text-align: center;
    color: #286ea0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input {
    font-weight: 900 !important;
    font-family: Industry, sans-serif !important;
    font-style: normal;
    -webkit-box-shadow: 0 0 15px 0 #E1E1E1;
    box-shadow: 0 0 15px 0 #E1E1E1;
    border: 1px solid #e2e3e5;
    background-color: #fff;
    font-size: 20px !important;
    letter-spacing: 1px;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 53px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
    box-shadow: none !important;
    color: #286ea0 !important;
}

select {
    font-weight: 900 !important;
    font-family: Industry, sans-serif !important;
    font-style: normal;
    -webkit-box-shadow: 0 0 15px 0 #E1E1E1;
    box-shadow: 0 0 15px 0 #E1E1E1;
    border: 1px solid #e2e3e5;
    background-color: #fff;
    font-size: 20px !important;
    letter-spacing: 1px;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 53px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
    box-shadow: none !important;
    color: #286ea0 !important;
}

input[disabled] {
    cursor: not-allowed;
    pointer-events: all !important;
    background-color: #f3c7c7;
    font-weight: 900 !important;
    font-family: 'Industry', sans-serif !important;
    text-align: center !important;
}

textarea {
    font-family: 'Industry', sans-serif !important;
    -webkit-box-shadow: 0 0 15px 0 #E1E1E1;
    font-weight: bold !important;
    box-shadow: 0 0 15px 0 #E1E1E1;
    border: 1px solid #e2e3e5;
    background-color: #fff;
    font-size: 20px !important;
    font-weight: 900 !important;
    letter-spacing: 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    height: 200px;
    color: #286ea0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

textarea:focus,
input:not([type="checkbox"]):not([type="submit"]):focus,
select:focus,
select:checked {
    /*color: #286ea0 !important;*/
    text-align: left !important;
    outline: none !important;
    border: 3px solid #f47e35 !important;
    box-shadow: none !important;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

option:not(:checked) {
    background: #fff;
}


/*//TODO: fix it*/

label {
    margin-left: 4px;
    margin-bottom: 15px;
    font-weight: 200 !important;
    font-size: 20px;
    line-height: 24px;
    position: relative;
}

@media (min-width: 767px) {
    label {
        margin-left: 0;
        margin-bottom: 0;
    }
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent !important;
    opacity: 0 !important;
}


/* ----------CHRIS Button nomalize -------------------- */

button {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    padding: 0;
    border: none;
    background: none;
    text-shadow: none !important;
}

button {
    outline: 0;
}

button:focus {
    outline: none;
}

*,
*:focus,
*:hover {
    outline: none !important;
}

/* ----------CHRIS END -------------------- */



/* ----------CHRIS Button nomalize -------------------- */

button {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    padding: 0;
    border: none;
    background: none;
    text-shadow: none !important;
}

button {
    outline: 0;
}

button:focus {
    outline: none;
}

*,
*:focus,
*:hover {
    outline: none !important;
}

.sysCard svg {
    font-size: 55px;
    color: #286ea0;
}

.sysEntriesCards {
    background-color: #286ea0;
    padding: 15px;
    margin-bottom: 10px;
    user-select: none;
}

.sysEntriesCards button.assigned {
    background-color: #c3e6cb;
    border-radius: 6px;
    width: 210px;
}

.sysEntriesCards button.notAssigned {
    background-color: #f3c7c7;
    border-radius: 6px;
    width: 210px;
}

.sysEntriesCards {
    transition: all 0.2s;
    cursor: default;
}

.sysEntriesCards:hover {
    background-color: #205880;
    transform: scale(1.1);
    transition: all 0.2s;
}

.sysEntriesCards h3 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

h3,
.Header {
    font-family: 'Industry', sans-serif;
    color: #286ea0;
    font-size: 27px;
    font-weight: 900 !important;
    letter-spacing: 0;
}

address {
    font-weight: normal;
    font-size: 17px;
}

#sysEntries svg {
    font-size: 55px !important;
    color: #fff;
}

#sysEntries {
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.sysCard h3 {
    font-family: 'Industry', sans-serif !important;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 22px;
    text-align: left;
}

.sysCard {
    transition: all 0.2s;
    -webkit-box-shadow: 0px 0px 15px 0px #E1E1E1;
    box-shadow: 0px 0px 15px 0px #E1E1E1;
    border: 1px solid #e2e3e5;
    background-color: #fff;
    font-size: 20px !important;
    font-weight: bold;
    color: black;
    letter-spacing: 0.5px;
    color: #000000;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 234px;
    padding: 25px;
    user-select: none;
}

.sysCard:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

.sysCard.disabled h3 {
    color: #bbb;
}

.sysOverlayClose {
    padding: 5px;
    float: right;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}

.sysScreenOverlay.Header {
    font-size: 25px;
    line-height: 27px;
}

.sysOverlayClose::before {
    display: none;
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
    content: "\f057";
    font-weight: 900;
    margin-right: 15px;
    position: relative;
    left: 10px;
}

.sysOverlayClose .svg-inline--fa {
    margin-right: 0.5rem;
}

.sysOverlayClose:hover {
    color: #286ea0;
}


/* --------------------------------------------- */

.PriceForm {
    position: relative;
    font-size: 88px !important;
    height: 227px !important;
    text-align: center !important;
    vertical-align: middle !important;
    user-select: none;
}

.PriceForm::-webkit-input-placeholder {
    /* Edge */
    font-size: 88px !important;
}

.PriceForm:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 88px !important;
}

.PriceForm::placeholder {
    font-size: 88px !important;
}

.sysContextMenuItemIconEdit::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 15px;
    content: "\f044";
    display: none;
}

.sysContextMenuItemIconEdit svg {
    position: absolute !important;
    color: #000 !important;
    top: -36px;
    right: 171px;
    cursor: pointer;
}

.sysContextMenuItemIconDelete::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: none;
    font-size: 15px;
    content: "\f2ed";
}

.sysContextMenuItemIconDelete svg {
    position: absolute !important;
    color: #000 !important;
    top: -36px;
    right: 174px;
    cursor: pointer;
}

.sysContextMenuItemColDescription {
    transition: all 0.4s;
    /* Alle Eigenschaften werden animiert */
    width: 100% !important;
    height: auto !important;
    background-color: #E8E8E8 !important;
    position: static !important;
    display: block !important;
    padding: 15px;
    border-bottom: 1px solid #fff;
}

.sysContextMenuItemColDescription:last-child {
    border-bottom: none;
}

.sysContextMenuItemColDescription:hover {
    background-color: #C0C0C0 !important;
}

.sysContextMenuTable {
    display: table;
    width: 300px;
    height: auto !important;
    border: 7px solid #fff !important;
    background-color: #fff;
    position: absolute;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.sysContextMenuHeaderRow {
    position: static !important;
}

.sysContextMenuItemDescriptionText {
    padding-left: 8px;
    font-family: Gentona-Book, Sans-Serif;
    font-size: 14px;
    height: 21px;
    color: #000 !important;
    position: static !important;
    z-index: 100;
    display: block !important;
    padding-left: 20px;
}

.sysContextMenuItemRow {
    display: block !important;
}

.sysContextMenuItemRow {
    cursor: pointer;
    position: static !important;
    height: auto !important;
}

input[disabled].PriceForm {
    position: relative;
    padding: 50px;
    background-color: #c1c8c0 !important;
    overflow: hidden;
    display: block;
    line-height: 20px;
    word-break: break-word;
    white-space: pre-line;
    background-image: url('./images/aom-euro-pattern.svg') !important;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    text-rendering: auto;
    /*     background-attachment:fixed;
 */
}

input[disabled].PriceForm::selection,
input[disabled].PriceForm::selection {
    background: transparent;
    color: #286ea0;
}

.sysContextMenuHeaderColDescription {
    float: none;
    display: unset !important;
    left: 0px;
    width: 180px;
    padding: 0px 0px 0px 0px;
    position: static !important;
    z-index: 100;
    top: 15px;
}

.sysContextMenuItemIconDelete,
.sysContextMenuItemIconEdit {
    background: none !important;
    border: none !important;
}

.sysContextMenuHeaderRow {
    display: block !important;
    height: auto !important;
    position: static !important;
}

.sysContextMenuHeaderDescriptionText {
    font-weight: 800;
    text-transform: uppercase;
    width: 100% !important;
    height: auto !important;
    z-index: -1;
    font-size: 15px;
    padding: 15px;
    background-color: #286ea0;
    color: #fff;
    position: relative;
}

.sysContextMenuHeaderColDescription::after {
    font-family: 'Font Awesome 5 Free';
    display: none;
    content: "\f00d";
    font-weight: 900;
    font-size: 15px;
}

.sysContextMenuHeaderColDescription svg {
    position: absolute !important;
    color: #fff;
    top: 3px;
    right: 5px;
    cursor: pointer;
}

.sysContextMenuHeaderColClose {
    float: none;
    display: unset;
    background: none !important;
    width: 20px;
    color: #fff;
    height: 20px;
    top: 5px;
    left: 280px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    cursor: pointer;
    text-transform: lowercase;
}

.row.sysListHeader {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.row.sysListContent {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.row.sysListFooter {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.sysPlusButton,
.sysButtonRemove {
    width: auto !important;
    padding: 8px !important;
}

.sysPlusButton:hover,
.sysButtonRemove:hover {
    background-color: #fff !important;
    color: #d7466b !important;
}

.sysIndicatorItemResult {
    margin-left: 5px;
}

.ckboxes {
    padding: 25px;
    background-color: #f5f5f5;
    margin-bottom: 0px !important;
}

.ckboxes label {
    position: relative;
    top: -37px;
    left: 31px;
}

input[type='checkbox']:checked {
    /*  filter: grayscale(100%); */
    color: #f47e35 !important;
}

input[type='radio']:checked {
    filter: grayscale(100%);
}

.FormFieldCheckbox {
    width: 20px;
    margin-bottom: 7px;
}

/* Overrides Bootstrap      */

.sysArea {
    padding: 25px;
    background-color: #f5f5f5;
}
.row {
    margin-bottom: 25px;
}

::selection {
    background: #286ea0;
    /* WebKit/Blink Browsers */
    color: #fff;
}

::-moz-selection {
    background: #286ea0;
    /* WebKit/Blink Browsers */
    color: #fff;
}

.NavigationButtonsContainer {
    margin-top: 50px;
}

.progress-bar {
    background-color: #F3C7C7 !important;
}

.ProjektNewFormfieldsProjektHeader,
.HeaderSchritt {
    font-family: Gentona-Bold, Lucida Sans Unicode, Lucida Grande, Sans-Serif;
    margin-bottom: 25px;
    background-color: #F3C7C7;
    color: #d7466b !important;
    white-space: pre-wrap !important;
    padding: 18px;
    font-size: 25px;
    border-radius: 49px;
    font-weight: normal !important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.sysList {
    margin-bottom: 35px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.sysListHeader>div {
    background-color: #f47e35;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px !important;
    border-right: 1px solid white !important;
    border-bottom: 1px solid white !important;
    hyphens: auto;
}

.sysListHeader div {
    font-family: 'Industry', sans-serif !important;
    font-weight: 800 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px;
}

.sysListHeader {
    margin-bottom: 0px !important;
    user-select: none;
}

.sysListHeader div:last-child {
    border-right: none !important;
}

.sysList .row {
    margin-bottom: 0px !important;
}

.sysListContent {
    text-align: center;
    font-size: 17px;
}

.sysListContent div {
    hyphens: auto;
    word-break: break-word;
}

.sysListContent [class*="col"] {
    padding-top: 14px;
    padding-bottom: 14px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.sysListFooter [class*="col"] {
    padding-top: 14px;
    padding-bottom: 14px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.sysListFooter {
    background: #d7466b;
    text-align: center;
    color: #fff;
    user-select: none;
}

[ID*="FinanzplanPersonalkostenList_Row"] {
    margin-bottom: 0px !important;
}

.sysListContent [class*="col"]:last-child {
    border-right: none !important;
}

.sysListFooter [class*="col"]:last-child {
    border-right: none !important;
}

.sysListContent:nth-child(odd) {
    background: #d0dfe9;
}

.sysListContent:nth-child(even) {
    background: #dbe6ef;
}

.sysButtonDisabled {
    cursor: not-allowed;
    opacity: 0.5;
    ;
}

.sysHeadline {
    color: #d7466b;
    text-transform: uppercase;
    font-family: Gentona-Medium, Lucida Sans Unicode, Lucida Grande, Sans-Serif !important;
    font-size: 22px;
    font-weight: normal !important;
    margin-bottom: 5px;
    letter-spacing: 0.9px;
    line-height: 27px;
}

.sysSubHeadline {
    margin-bottom: 0px;
}

.GlobalUploadDescription {
    display: none;
}

.sysUploadArea {
    margin-top: 35px;
    margin-bottom: 35px;
    position: relative;
}

/* Listen */

@media (max-width: 767px) {
    div[id*="ListColumnprojektid"]::before {
        content: "Projekt Nr.: ";
    }
}

/* Inputs Overrides
 * -------------------------- */

select {
    height: 53px !important;
}

/* Placeholder Hacks
 * -------------------------- */

 ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbb !important;
    font-weight: 900;
    font-family: Industry, sans-serif !important;
    /* Firefox */
    text-shadow: none !important;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 900;
    font-family: Industry, sans-serif !important;
    color: #bbb !important;
    text-shadow: none !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-weight: 900;
    font-family: Industry, sans-serif !important;
    color: #bbb !important;
    text-shadow: none !important;
}


/* Global Header Styles                          */

.GlobalHeader {
    font-family: Gentona-Heavy, Lucida Sans Unicode, Lucida Grande, Sans-Serif;
    color: #d7466b;
    font-weight: normal;
    font-size: 22px;
    position: relative;
    top: 50px;
}

h2 {
    margin: 0;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-color: rgb(243, 199, 210) !important;
    background-image: none !important;
}


/* Change the white to any color ;) */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: rgb(243, 199, 210) !important;
}

[id*="DisplayMax"] {
    text-align: right;
    font-size: 13px;
    margin-bottom: 7px;
}

.FormListDefaultHeader {
    font-family: Gentona-Medium, Lucida Sans Unicode, Lucida Grande, Sans-Serif !important;
    font-size: 16px;
    font-weight: normal !important;
    margin-bottom: 10px;
}

.FormListDefaultHeader::after {
    content: "*";
    color: red;
    margin-left: 7px;
}

.required::after {
    content: "*";
    font-size: 23px;
    color: red;
    top: -7px;
    right: -13px;
    position: absolute;
    font-family: Industry-Book, sans-serif;
    font-weight: bold;
}

.spezial {
    margin-top: 10px !important;
    margin-bottom: 50px !important;
}

.sysAreaDescription::before {
    font-family: 'Font Awesome 5 Free';
    font-size: 15px;
    content: "\f05a";
    font-weight: 900;
    color: #F3C7C7;
    margin-right: 6px;
}


/* Tab Sections */

.FormListDefaultFooter {
    font-family: Gentona-Book, Lucida Sans Unicode, Lucida Grande, Sans-Serif;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 15px;
}

/* --------------------------------------------- */


/* Form Field Styles                             */

.FormFieldDisplayOnly {
    border: 1px dotted #bbbbbb;
    width: 100%;
    height: 20px;
    font-family: sans-serif;
    font-size: 12px;
    padding: 2px;
    background-color: #fefefe;
}

.FormFieldBorderValidateOk {
    border: 3px;
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

.FormFieldBorderValidateFail {
    border: 3px;
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

.FormFieldBorderPulldown {
    border: 1px solid #bbbbbb;
    width: 100%;
    height: 37px;
    font-family: sans-serif;
    font-size: 13px;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.FormfieldDefaultDescription {
    font-family: sans-serif;
    font-size: 12px;
    color: #000731;
    vertical-align: top;
}

.sysEntriesCards .sysLoading {
    background-color: #f3c7c7;
    border-radius: 6px;
    width: auto;
    padding: 5px 17px 5px 17px;
    color: #721c24;
    display: inline-block;
    font-weight: bold;
    user-select: none;
}

.sysEntriesCards h3 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.9px !important;
}

.Header {
    margin-bottom: 5px;
}

.info-required,
.chars-left {
    text-align: right;
    font-family: Industry-Book, sans-serif !important;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}

.sysAreaDescription {
    margin-top: 0px;
    font-size: 12px !important;
}

/* --------------------------------------------- */


/* Error Styles                                  */

.um-form .um-field-error {
    background: #f3c7c7 !important;
}

.um-faicon-caret-up:before {
    content: "\f0d8";
    display: none !important;
}

[class^="um-faicon-"]:before,
[class*=" um-faicon-"]:before {
    font-family: 'Font Awesome 5 Free' !important;
    font-style: normal !important;
    font-weight: 900 !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.FormFieldBorder {
    height: 53px;
}

.FormFieldBorderValidateOk {
    border: 3px solid #5DE58E;
}

.um-form .um-field-error {
    background: #f3c7c7 !important;
}

.FormFieldBorderValidateFail {
    border: 3px solid #f3c7c7;
}

.um-field-error {
    width: auto;
    max-width: 100%;
    background: #f3c7c7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #721c24;
    box-sizing: border-box;
    position: relative;
    padding: 12px;
    font-size: 20px;
    line-height: 27px !important;
    margin-bottom: 30px;
    user-select: none;
}

.um-field-error a {
    color: #fff !important;
    text-decoration: underline !important
}

.um-field-arrow {
    font-family: 'Font Awesome 5 Free';
    top: -17px;
    left: 10px;
    position: absolute;
    z-index: 1;
    color: #f3c7c7;
    font-size: 28px;
    line-height: 1em !important;
}

.um-error-block {
    width: auto;
    max-width: 100%;
    background: #f3c7c7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    box-sizing: border-box;
    position: relative;
    padding: 12px;
    font-size: 14px;
    line-height: 1em !important;
    margin: 12px 0 0 0;
}
