Source: x0-js
Section: utils
Priority: extra
Maintainer: Claus Prüfer <c.pruefer@click-it.online>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9), python
Homepage: http://click-it.online/
Vcs-Git: git://git01.webcodex.de/clickit/x0_js

Package: x0-js
Section: utils
Architecture: all
Depends: python (>= 3.0), postgresql (>= 11.0), postgresql (< 13.0), apache2 (>= 2.4), libapache2-mod-wsgi (>= 3.3), python-dbpool (>= 0.1), ${shlibs:Depends}, ${misc:Depends}
Description: JavaScript Browser Framework with focus on Object-Interaction.
